@font-face {
    font-family: 'Raleway';
    src: url('Raleway/static/Raleway-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url('Raleway/static/Raleway-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway-Light';
    src: url('Raleway/static/Raleway-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway-SemiBold';
    src: url('Raleway/static/Raleway-SemiBold.ttf') format('truetype');
}



header
{
    padding: 3em;
}

.logo
{
    height: 2.5em;
}

.inscription
{
    float: right;
    display: flex;
    justify-content: space-around;
    height: 2.5em;
    line-height: 2.5em;
    margin-left: 2.3em;
    color: #0065FC;
    font-family: 'Raleway-semibold';
    text-decoration: none;
    font-size: 0.9em;
}

nav
{
  justify-content: space-around;
  float: right;  
  display: flex;
  height: 2.5em;
}


nav>a
{
    line-height: 2.5em;
    margin-right: 2.3em;
    margin-left: 2.3em;
    font-size: 0.9em;
    text-decoration: none;
    color: black;
}

.info
{
    margin-left: 3em;
}

.icon-search
{
    background-color: #f2f2f2;
    width: 3em;
    height: 3em;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.search-container
{
    border-radius: 15px;
    display: flex;
}
.search-box
{
    padding: 1em;
    border-color: #f2f2f2;
    border-width: thin;
    border-style: solid;
    margin: 0;
    width: 16em;
}

::placeholder
{
    color: black;
    font-family: 'Raleway-Bold'; 
    font-size: 1.2em;
}

.search-button
{
    background-color: #0065FC;
    font-size: 1em;
    width: 8em;
    margin: 0;
    border: none;
    color: white;
    font-family: 'Raleway-Semibold';
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
body
{
    margin: 0;
    font-family: 'Raleway';
}

section
{
    margin: 2em;
}

h1
{
    color: black;
    font-size: 1.25em;
    font-family: 'Raleway-Bold';
    margin-bottom: 0em;
}

h2
{
    color: black;
    font-size: 1.4em;
    font-family: 'Raleway-Bold';
    margin: 0;
    margin-bottom: 1em;
}

p
{
    font-family: 'Raleway';
    font-size: 0.9em;
    margin-top: 0.5em;
}
.grey-back
{
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-top: 2em;
    padding-top: 1.5em;
    padding-left: 2em;
    padding-bottom: 2em;
}


.housing
{
    display: flex;
    height: 30em;
    width: 100%;
}
.housing-marseille
{
    width: 70%;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin: 3em;
    margin-right: 2.5em;
    padding: 2.4em;
}

.housing-boxes-container
{
    display: flex;
}
.housing-box
{
    border-radius: 20px;
    background-color: white;
    padding: 0.3em;
    width: 13.5em;
    display: inline-block;
}

.image-container
{
    width: 13.5em;
    height: 7em;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.box-image
{
    width: 15em;
}
.box-title
{
    font-family: 'Raleway-Bold';
    font-size: 1em;
    padding-left: 0.8em;
    margin: 0.4em;
}

.box-text
{
    font-family: 'Raleway';
    font-size: 0.8em;
    padding-left: 1em;
    margin: 0.4em;

}

.box-text>span
{
    font-family: 'Raleway-Bold';
}

aside
{
    width: 30%;
    padding: 2em;
    margin: 3em;
    margin-left: 0;
    background-color: #F2F2F2;
    border-radius: 20px;
}

.activity-section
{
    margin: 2em;

}
.activity-container
{
    width: 20em;
    border-radius: 20px;
    box-shadow:0px 5px 6px 5px #F2F2F2

}
.activity-image
{
    width: 20em;
    height: 30em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.description-image
{
    padding: 1em;
    background-color: red;
    margin: 0;
    font-family: 'Raleway-Bold';
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
span
{
    font-weight: bold;
}
/* footer */
.footer-container
{
    padding-left: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
}

.footer-text
{
    width: 33%;
    font-family: 'Raleway-Light';
    font-size: 0.8em;
}

.footer-title
{
    font-family: 'Raleway-Bold';
    padding-bottom: 0.5em;
}

@media all and (max-width: 1024px)
{
    header
    {
        margin: 0;
    }
    .info
    {
        margin: 0;
    }
    .housing
    {
        margin: 0;
        flex-direction: column;
    }
    
    .activity-section
    {
        margin: 0;
    }

    nav
    {
        width: auto;
        margin-top: 0.8em;
        margin-left: 0;
        float: left;

    }
    nav>a
    {
        color: #0065FC;
        text-decoration: none;
        font-size: 0.9em
    };

    .housing
{
    flex-direction: column;
    height: 30em;
    width: 100%;
}


.housing-boxes-container
{
    flex-direction: column;
}

aside
{
    width: auto;
    padding: 2em;
    margin: 2em;
}


}
